/* BELOW 1344px */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
}

/* BELOW 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .header {
    padding: 2.2rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }

  .icon,
  .title-icon,
  .number-icon {
    font-size: 3.2rem;
  }
  .cards-container {
    max-width: 120rem;
  }
  .cards-container h3 {
    font-size: 2.4rem;
  }
  .overlay {
    height: 100%;
  }
  .overlay p {
    font-size: 1.4rem;
  }
  .box-area {
    margin-top: 3.6rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .about {
    gap: 0;
  }

  .about-img {
    max-width: 85%;
  }

  .feedback-imgs {
    max-width: 90rem;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Below 944 */
@media (max-width: 59em) {
  /* html {
    font-size: 50%;
  } */

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* 1) Hide it visually */
    opacity: 0;
    /* 2) Unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 7.2rem;
  }
  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 70%;
  }

  .customers,
  .wrapper-follow-us {
    justify-content: center;
  }
  .btn--secondary:link,
  .btn--secondary:visited {
    margin-top: 2.4rem;
  }
  .shop-text {
    gap: 1.8rem;
  }
}

/* BELOW 704px */
@media (max-width: 44em) {
  /* html {
    font-size: 44%;
  } */
  .hero-img {
    width: 75%;
  }
  h3 {
    margin-bottom: 2.4rem;
  }
  .box-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 7.2rem;
  }
  .box {
    max-width: 50rem;
  }
  .overlay h3 {
    font-size: 3rem;
  }
  .overlay p {
    font-size: 1.8rem;
  }

  .container-shop {
    grid-template-columns: 1fr;
  }
  .btn-shop {
    text-align: center;
  }
  .shop-img {
    width: 60%;
    margin: 0 auto;
  }

  .about {
    grid-template-columns: 1fr;
    gap: 7.2rem;
  }

  .about-img {
    width: 50%;
  }
  .about-text-box {
    text-align: center;
  }
  .footer-section {
    padding: 2.4rem;
  }
  .footer {
    gap: 1.2rem;
  }
}

/* BELOW 544px */
@media (max-width: 34em) {
  .container {
    padding: 2.4rem;
  }

  .hero-img {
    width: 100%;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.4rem 2.8rem;
  }
  .overlay p {
    margin-bottom: 3.2rem;
  }
  .box {
    min-width: 35rem;
  }
  .container-shop {
    padding-left: 3.8rem;
  }
  .shop-img {
    width: 100%;
  }
  .section-about {
    padding: 2.4rem 0;
  }
  .about-img {
    width: 100%;
  }
  .stats {
    flex-direction: column;
    gap: 3.2rem;
  }
  .gallery-items {
    grid-template-columns: 1fr;
  }
  .feedback-imgs {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .contact {
    flex-direction: column;
    gap: 3.2rem;
  }
}
