/* BELOW 1200px */
@media (max-width: 75em) {
  .toggle-search-btn {
    visibility: visible;
  }

  .contact-shop {
    margin-left: 0;
    padding: 1.8rem 0;
  }
  .search-box {
    display: none;
  }
  .secondary-nav {
    justify-content: flex-start;
  }
  .nav-list {
    display: none;
  }
  .mobile-cattegory-btn {
    display: flex;
  }
}

/* TODO: work on responsive input, watch the hide/show cart */
