/* ! General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Cormorant", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

hr {
  border: 1px solid #f1d0e0;
}
img {
  width: 100%;
}
/* ! BUTTONS */
.add-to-cart,
.add-to-cart:link,
.add-to-cart:visited {
  background-color: #b81365;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.4rem 2.8rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.add-to-cart:hover,
.add-to-cart:active {
  background-color: #930f51;
}

.disabled:link,
.disabled:visited {
  background-color: #930f51;
}

.disabled {
  background: #930f51;
}

/* ! NAVBAR */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.8rem;
  background-color: #f1d0e0;

  /* for sticky */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

/* Sticky navigation */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 9.6rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(251, 241, 246, 0.95);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .section-background {
  margin-top: 9.6rem;
}

#logo {
  height: 10rem;
  width: 10rem;
}
.logo-contact {
  display: flex;
}

.contact-shop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 1.2rem;

  padding: 1.8rem 0;
}
.phone,
.whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-text {
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: -2rem;
}

.contact-text:link,
.contact-text:visited {
  font-size: 1.4rem;
  color: #333;
  text-decoration: none;
}
.contact-text:hover,
.contact-text:active {
  color: #a6115b;
}

.search-box {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
  padding: 0.2rem 1.2rem;
  border-radius: 25px;
  gap: 1.8rem;
  /* margin-left: -10rem; */
}

.search-box input {
  border-radius: 25px;
  border: none;
  padding: 1.8rem;
  outline: none;
  background-color: #fff;
  font-size: 1.6rem;
  height: 4rem;
  width: 100%;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 25px;
  color: #b81365;
  width: 4rem;
  height: 4rem;
}
.mobile-search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 25px;
  color: #b81365;
  width: 4rem;
  height: 4rem;
}
.toggle-search-btn {
  visibility: hidden;
}
.mobile-search-input {
  background-color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 1.2rem;
  border-radius: 25px;
  gap: 1.8rem;
}
.mobile-search-input input {
  border-radius: 25px;
  border: none;
  padding: 1.8rem;
  outline: none;
  background-color: #fff;
  font-size: 1.6rem;
  height: 4rem;
  width: 100%;
}

.bi {
  font-size: 3rem;
  color: #555;
  position: relative;
}

.bi-telephone:hover,
.bi-telephone:active {
  color: #0075f2;
}
.bi-whatsapp:hover,
.bi-whatsapp:active {
  color: #2acb75;
}

.wrapper-follow-us {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.follow-us {
  max-width: 10rem;
  max-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.follow-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.ionicons {
  font-size: 5.5rem;
}

.bi-instagram:link,
.bi-instagram:visited {
  color: #555;
}
.bi-instagram:hover,
.bi-instagram:active {
  color: #a6115b;
}
.bi-facebook:link,
.bi-facebook:visited {
  color: #555;
}
.bi-facebook:hover,
.bi-facebook:active {
  color: #a6115b;
}

svg {
  width: 100%;
  height: 100%;
}

/* ! Secondary Nav */
.secondary-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding-left: 1.8rem;
}
.nav-list {
  max-width: 120rem;
  display: flex;
  justify-content: space-around;
  gap: 1.8rem;
  list-style: none;
  padding: 2rem;
  text-align: center;
}
.mobile-nav-list {
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.8rem;
  list-style: none;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: -200%;
  width: 36rem;
  height: 100vh;
  padding: 2rem;
  background-color: #000;
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: all 0.3s;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  padding: 0 1rem;
}

.nav-link:hover,
.nav-link:active {
  background-color: #b81365;
  padding: 1.8rem 1rem;
  border-radius: 25px;
}
/* Mobile */
.category-overlay {
  position: fixed;
  inset: 0;
  opacity: 0.5;
  visibility: hidden;
  cursor: pointer;
  background: #888;
  transition: all 0.3s;
}
.show {
  visibility: visible;
}

.mobile-cattegory-btn {
  display: none;

  align-items: center;
}

/* ! Section Background */
.section-background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  max-width: 120rem;
  max-height: 120rem;
  padding: 4.8rem 4.8rem;
}

.background img {
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 1);
}

/* ! Section Products */

.section-products {
  max-width: 150rem;
  max-height: 120rem;
  padding: 3.2rem 0rem 2.4rem 3.2rem;
}

.products-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.8rem;
}

.wishlist-amount,
.cart-amount {
  position: absolute;
  top: -0.6rem;
  right: 0;
  font-size: 2rem;
  background-color: red;
  color: #fff;
  padding: 0.2rem;
  border-radius: 3px;
  width: auto;
}

.heading-secondary {
  font-weight: 400;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 3.6rem;
  line-height: 1.2;
}

/* ! Section items */
.shop {
  max-width: 300rem;
  padding: 2.4rem;
  display: grid;
  justify-content: center;
  gap: 2.4rem;
  grid-template-columns: repeat(4, 1fr);
}

.item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;
  border: 2px solid #999;
  max-width: 50rem;
  padding: 2.4rem;
}

.item-img {
  height: 25rem;
  width: auto;
}

.item-name {
  font-size: 2.4rem;
  letter-spacing: 1;
}

.item-description {
  color: #888;
  font-size: 1.4rem;
}

.item-price {
  font-size: 2.4rem;
}

.item-price span {
  font-size: 3rem;
}

/* ! Section cart */

.cart {
  position: fixed;
  top: 0;
  right: -200%;
  width: 36rem;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fff;
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: all 0.3s;
}

.active {
  right: 0;
  overflow-x: visible;
}

.cart-overlay {
  position: fixed;
  inset: 0;
  opacity: 0.5;
  visibility: hidden;
  cursor: pointer;
  background: #888;
  transition: all 0.3s;
}

.cart-overlay.show {
  visibility: visible;
}

.cart-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 2rem;
}

.cart-icon {
  position: relative;
  cursor: pointer;
}
.hide-cart {
  z-index: -1;
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
.cart-img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  padding: 1rem;
}
/* .cart-content {
  overflow-y: auto;
} */
.detail-box {
  display: grid;
  row-gap: 1.4rem;
}
.cart-product-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.cart-price {
  font-size: 1.6rem;
  font-weight: 600;
}

.cart-item-amount {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
}

.cart-item-amount .bi-plus-lg,
.bi-dash-lg {
  font-size: 2.4rem;
  cursor: pointer;
  opacity: 0.25;
}

.cart-item-amount .bi-plus-lg:hover,
.bi-dash-lg:hover {
  opacity: 1;
}

.cart-item-amount .qty {
  font-size: 2.4rem;
  width: 2rem;
  text-align: center;
}

.cart-remove {
  font-size: 2.4rem;
  color: #b81365;
  cursor: pointer;
}
.total {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.6rem;
  padding: 1.8rem;
  margin-top: 3rem;
  border-top: 1px solid #f1d0e0;
}
.total-title {
  font-size: 2.4rem;
  font-weight: 600;
}
.total-price {
  font-size: 3.2rem;
  margin-left: 1.6rem;
}
.total span {
  font-size: 1.8rem;
}
.btn-buy-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-buy {
  display: flex;
  margin: 3.2rem;
  padding: 1.2rem 2rem;
  border: none;
  background-color: #b81365;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}
.btn-buy:hover {
  background-color: #930f51;
}

#close-cart {
  position: absolute;
  top: 1.6rem;
  right: 1.2rem;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

/* Reusable */
.open {
  display: flex;
  left: 0;
}

/* ! FOOTER */

.footer-section {
  max-width: 300rem;
  background-color: #333;
  padding: 2.4rem 4.8rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  color: #fff;
  font-size: 1.8rem;
}
.footer-text span {
  font-size: 2.4rem;
}

.copyright:link,
.copyright:visited {
  text-decoration: none;
  color: #ff7700;
  font-size: 1.6rem;
}

.copyright:hover,
.copyright:active {
  color: #fff;
}

.cookie {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cookie-link:link,
.cookie-link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

.cookie-link:hover,
.cookie-link:active {
  color: #ff7700;
}
